<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Tėvinė kategorija
                    </label>
                    <VueSelect
                        v-if="this.categoriesSelect"
                        v-model="selectedParentId"
                        :class="[``, {'is-invalid': errors.parent_id}]"
                        :options=this.categoriesSelect
                        placeholder="Pasirinkite kategoriją"
                        :get-option-label="(category) => `${category.label}`"
                    />
                    <div class="invalid-feedback" v-if="errors.parent_id">
                        {{ errors.parent_id }}
                    </div>
                </div>
            </div>
            <div class="col-log-6 col-md-6">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group mb-5 mb-md-5">
                            <label class="d-block text-black fw-semibold mb-10 opacity-0">
                                Paslėpta
                            </label>
                            <input id="hidden" type="checkbox" v-model="form.hidden" value="1" :checked="form.hidden === 1"/>
                            <label for="hidden" class="d-inline-block text-black fw-semibold ms-5">
                                Paslėpta
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group mb-5 mb-md-5">
                            <label class="d-block text-black fw-semibold mb-10 opacity-0">
                                Top meniu
                            </label>
                            <input id="menu_header" type="checkbox" v-model="form.menu_header" value="1" :checked="form.menu_header === 1"/>
                            <label for="menu_header" class="d-inline-block text-black fw-semibold ms-5">
                                Top meniu
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="form-group mb-5 mb-md-5">
                            <label class="d-block text-black fw-semibold mb-10 opacity-0">
                                Footer meniu #1
                            </label>
                            <input id="menu_footer_1" type="checkbox" v-model="form.menu_footer_1" value="1" :checked="form.menu_footer_1 === 1"/>
                            <label for="menu_footer_1" class="d-inline-block text-black fw-semibold ms-5">
                                Footer meniu #1
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <label class="d-block text-black fw-semibold mb-10 opacity-0">
                            Footer meniu #2
                        </label>
                        <div class="form-group mb-5 mb-md-5">
                            <input id="menu_footer_2" type="checkbox" v-model="form.menu_footer_2" value="1" :checked="form.menu_footer_2 === 1"/>
                            <label for="menu_footer_2" class="d-inline-block text-black fw-semibold ms-5">
                                Footer meniu #2
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ul class="nav nav-tabs mb-3 text-uppercase">
            <li class="nav-item" v-for="(language, language_id) in this.languages">
                <div :class="[`nav-link cursor-pointer`, {'active': this.languageTab == language.id}]" @click="showLangTab(language.id)">
                    {{ language.name }}
                </div>
            </li>
        </ul>

        <div v-for="(language, language_id) in this.languages" :key="language_id">
            <div class="row" v-if="this.languageTab == language.id">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Pavadinimas
                        </label>
                        <input
                            v-if="form.descriptions[language.id]"
                            type="text"
                            :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`descriptions.${language.id}.name`] || errors[`descriptions`])}]"
                            v-model="form.descriptions[language.id].name"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.name`]">
                            {{ errors[`descriptions.${language.id}.name`] }}
                        </div>
                        <div class="invalid-feedback" v-if="errors[`descriptions`]">
                            Būtina užpildyti pavadinimus visomis kalbomis
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Nuoroda (nieko neįvedus - automatiškai)
                        </label>
                        <input
                            v-if="form.descriptions[language.id]"
                            type="text"
                            :class="[`form-control shadow-none text-black`, {'is-invalid': errors[`descriptions.${language.id}.slug`]}]"
                            v-model="form.descriptions[language.id].slug"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.slug`]">
                            {{ errors[`descriptions.${language.id}.slug`] }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Tekstas
                        </label>
                        <QuillEditor
                            theme="snow"
                            placeholder="Write your meta description"
                            toolbar="full"
                            v-model:content="form.descriptions[language.id].body"
                            contentType="html"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.body`]">
                            {{ errors[`descriptions.${language.id}.body`] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import categoryDataProvider from "../../services/DataProvider/categoryDataProvider.js";
import languageDataProvider from "../../services/DataProvider/languageDataProvider.js";

export default {
    components: {VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'category'],
    data() {
        return {
            categories: [],
            selectedParentId: null,
            languages: [],
            languageTab: 1
        }
    },
    computed: {
        form() {
            let form = {
                parent_id: null,
                hidden: false,
                menu_header: false,
                menu_footer_1: false,
                menu_footer_2: false

            };
            for (const [id, language] of Object.entries(this.languages)) {
                if (form.descriptions == undefined) {
                    form.descriptions = {[language.id]: {name: null, slug: null, body: null}};
                } else {
                    form.descriptions[language.id] = {name: null, slug: null, body: null};
                }
            }
            if(this.category) {
                form.id = this.category.id;
                form.parent_id = this.category.parent_id;
                this.selectedParentId = form.parent_id;
                form.hidden = Boolean(this.category.hidden);
                form.menu_header = Boolean(this.category.menu_header);
                form.menu_footer_1 = Boolean(this.category.menu_footer_1);
                form.menu_footer_2 = Boolean(this.category.menu_footer_2);
                for (const [id, language] of Object.entries(this.languages)) {
                    const langDescriptions = this.category.descriptions.filter(
                            (description) => description.language_id == language.id
                    );
                    if( langDescriptions.length > 0) {
                        form.descriptions[language.id] = langDescriptions[0];
                    }
                }
            }
            return form;
        },
        categoriesSelect() {
            const parent = this.categories.filter((category) => category.parent_id == 0);
            const categoriesSelect = [];
            //MAX_LEVEL 4 - don't show last level in select
            parent.forEach((categoryItem) => {
                categoriesSelect.push({value: categoryItem.id, label: categoryItem.descriptions[0].name});
                const submenu = this.categories.filter((category) => category.parent_id == categoryItem.id);
                submenu.forEach((categoryItem2) => {
                    categoriesSelect.push({value: categoryItem2.id, label: '-' + categoryItem2.descriptions[0].name});

                    const submenu2 = this.categories.filter((category) => category.parent_id == categoryItem2.id);
                    submenu2.forEach((categoryItem3 => {
                        categoriesSelect.push({value: categoryItem3.id, label: '- -' + categoryItem3.descriptions[0].name});
                    }));
                });
            });
            return categoriesSelect;
        },
    },
    methods: {
        fetchCategories() {
            categoryDataProvider.index().then(response => {
                this.categories = response.categories;
            })
        },
        fetchLanguages() {
            languageDataProvider.index().then(response => {
                this.languages = response.languages;
            })
        },
        showLangTab(tabId) {
            this.languageTab = tabId;
        },
        async submitForm() {
            this.form.parent_id = this.selectedParentId;
            this.$emit('formSubmitted', this.form);
        }
    },
    beforeMount() {
        this.fetchCategories();
        this.fetchLanguages();
    }
}
</script>
