<template>
    <Main>
        <BreadCrumb PageTitle="Kategorijos"/>
    <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
        <div
            class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
        >
            <router-link
                v-if="$can(CREATE_CATEGORY)"
                :to="{name: ROUTE_CATEGORIES_CREATE}"
                class="default-btn position-relative transition border-0 fw-medium text-white pt-11 pb-11 ps-25 pe-25 pt-md-12 pb-md-12 ps-md-30 pe-md-30 rounded-1 bg-success fs-md-15 fs-lg-16 d-inline-block me-10 mb-10 mb-lg-0 text-decoration-none"
            >
                Sukurti kategoriją
                <i class="flaticon-plus position-relative ms-5 fs-12"></i>
            </router-link>
        </div>

        <div class="card-body p-15 p-sm-20 p-md-25">
            <div class="row">
                <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Id
                </div>
                <div class="col-4 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Pavadinimas
                </div>
                <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Top meniu
                </div>
                <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Footer meniu #1
                </div>
                <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Footer meniu #2
                </div>
                <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                    Paslėpta
                </div>
                <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
            </div>
            <nestedDraggable
                v-if="this.nestedCategories"
                :items="this.nestedCategories"
                :level="0"
                @reload="onReload"
            />
        </div>
    </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {computed, defineComponent} from "vue";
import categoryDataProvider from "../../services/DataProvider/categoryDataProvider.js";
import nestedDraggable from "./nested.vue";
import {ROUTE_CATEGORIES_CREATE} from "../../const/routes.js";
import {CREATE_CATEGORY} from "../../const/permissions.js";
import settingDataProvider from "../../services/DataProvider/settingDataProvider";

export default defineComponent({
    name: "Kategorijos",
    components: {
        nestedDraggable, BreadCrumb, Main
    },
    data() {
        return {
            categories: [],
            openCats: [0],
            nestedCategories: [],
            unDeletableCategories: [],

            CREATE_CATEGORY: CREATE_CATEGORY,
            ROUTE_CATEGORIES_CREATE: ROUTE_CATEGORIES_CREATE
        }
    },
    provide() {
        return {
            openCats: computed(() => this.openCats),
            categories: computed(() => this.categories),
            unDeletableCategories: computed(() => this.unDeletableCategories)
        };
    },
    methods: {
        onReload() {
            this.fetchCategories()
        },
        fetchCategories() {
            categoryDataProvider.index().then(response => {
                this.categories = response.categories;
                let nestedCategories = this.categories.filter((category) => category.parent_id == 0);
                this.nestedCategories = nestedCategories.sort((a, b) => (a.priority > b.priority) ? 1 : ((b.priority > a.priority) ? -1 : 0))
            })
        },
        async fetchSetting() {
            settingDataProvider.findByKey('unDeletableCategories').then(response => {
                this.unDeletableCategories = response;
            });
        }
    },
    beforeMount() {
        this.fetchCategories();
        this.fetchSetting();
    }
});
</script>
