<template>
    <draggable
        class="dragArea"
        tag="div"
        :list="items"
        :group="{ name: 'g1' }"
        @end="draggableEnd"
        item-key="id"
        :disabled="editFocused"
    >
        <template #item="{ element }">
            <div>
                <div class="row tr" v-if="isCatOpen(element)">
                    <div class="col-1 td shadow-none lh-1 fw-medium text-paragraph">
                        #{{ element.id }}
                    </div>
                    <div
                        class="col-4 td shadow-none lh-1 fw-medium text-black-emphasis title"
                    >
                        <span v-if="element.parent_id">
                            <span v-for="n in this.level">
                                <i class="fas fa-plus me-3 d-inline-block" style="opacity: 0.1"></i>
                            </span>
                        </span>
                        <span v-if="this.nestedCategories(element.id).length > 0" class="cursor-pointer"
                              @click="openCat(element.id)">
                            <i class="flaticon-plus" v-if="!this.openCats.includes(element.id)"></i>
                            <i class="flaticon-minus" v-if="this.openCats.includes(element.id)"></i>
                        </span>
                        <span v-if="element.descriptions[0]">{{ element.descriptions[0].name }}</span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="element.menu_header">Taip</span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="element.menu_footer_1">Taip</span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="element.menu_footer_2">Taip</span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="element.hidden">Taip</span>
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_CATEGORY)"
                            :to="{name: ROUTE_CATEGORIES_EDIT, params: {id: element.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <span v-if="this.unDeletableCategories.includes(element.id.toString())">
                             <a class="btn btn-danger btn-sm me-2" v-if="$can(DELETE_CATEGORY_UN_DELETABLE)"
                                @click="deleteCategory(element.id)"><i class="flaticon-delete"/>
                            </a>
                        </span>
                        <a class="btn btn-danger btn-sm me-2" v-else-if="$can(DELETE_CATEGORY)"
                           @click="deleteCategory(element.id)"><i class="flaticon-delete"/>
                        </a>
                    </div>
                </div>
                <nested-draggable
                    v-if="this.nestedCategories(element.id)"
                    :items="this.nestedCategories(element.id)"
                    :level="nextLevel"
                    @reload="onReload"
                />
            </div>
        </template>
    </draggable>
</template>
<script>
import {inject} from "vue";
import draggable from "vuedraggable";
import categoryDataProvider from "../../services/DataProvider/categoryDataProvider.js";
import {ROUTE_CATEGORIES_EDIT} from "../../const/routes.js";
import {EDIT_CATEGORY, DELETE_CATEGORY, DELETE_CATEGORY_UN_DELETABLE} from "../../const/permissions.js";

export default {
    components: {
        draggable
    },
    setup() {
        return {
            openCats: inject("openCats"),
            categories: inject("categories"),
            unDeletableCategories: inject("unDeletableCategories")
        };
    },
    props: {
        items: {
            required: true,
            type: Array
        },
        level: Number,
    },
    data() {
        return {
            EDIT_CATEGORY: EDIT_CATEGORY,
            ROUTE_CATEGORIES_EDIT: ROUTE_CATEGORIES_EDIT,
            DELETE_CATEGORY: DELETE_CATEGORY,
            DELETE_CATEGORY_UN_DELETABLE: DELETE_CATEGORY_UN_DELETABLE
        }
    },
    computed: {
        nextLevel() {
            return Number(this.level + 1);
        }
    },
    methods: {
        isCatOpen(category) {
            return this.openCats.includes(category.parent_id) && category.parentsList.every(r => this.openCats.includes(r));
        },
        openCat(catId) {
            if (this.openCats.includes(catId)) {
                const index = this.openCats.indexOf(catId);
                if (index > -1) {
                    this.openCats.splice(index, 1);
                }
            } else {
                this.openCats.push(catId);
            }
        },
        draggableEnd() {
            this.drag = false;
            let itemsIds = this.items.map(a => a.id);
            const form = {
                ids: itemsIds
            }
            categoryDataProvider.priority(form);
            this.$emit('reload');
        },
        nestedCategories(id) {
            let nestedCategories = this.categories.filter((category) => category.parent_id == id);
            return nestedCategories.sort((a, b) => (a.priority > b.priority) ? 1 : ((b.priority > a.priority) ? -1 : 0))
        },
        onReload() {
            this.$emit('reload');
        },
        async deleteCategory(id) {
            this.$swal({
                title: "Ištrinti kategoriją",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    categoryDataProvider.delete(id);
                    this.$emit('reload');
                }
            });
        }
    },
    name: "nested-draggable"
};
</script>
