<template>
    <Main>
        <BreadCrumb PageTitle="Redaguoti klientą"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <div class="modal-body ps-0 pe-0 pb-0 pt-15 pt-md-25">
                    <Form enctype="multipart/form-data" @formSubmitted="onFormSubmitted" :errors="this.errors" :customer="this.customer"/>
                </div>
            </div>
        </div>
    </Main>
</template>

<script>
import customerDataProvider from "../../services/DataProvider/customerDataProvider.js";
import Form from "./form.vue";
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {ROUTE_CUSTOMERS_LIST} from "../../const/routes.js";

export default {
    name: "Redaguoti užsakymą",
    components: {Main, BreadCrumb, Form},
    data() {
        return {
            errors: [],
            customer: [],
        }
    },
    methods: {
        async onFormSubmitted(formData) {
            const response = await customerDataProvider.patch(formData.id, formData);
            if (response.errors) {
                this.errors = response.errors;
            } else {
                this.$router.push({name: ROUTE_CUSTOMERS_LIST});
                this.$swal('Sėkmingai atnaujinta');
            }
        },
        async fetchCustomer() {
            customerDataProvider.find(this.$route.params.id).then(response => {
                this.customer = response.data;
            });
        },
    },
    beforeMount() {
        this.fetchCustomer();
    }
};
</script>
