<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Vardas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`name`])}]"
                        v-model="form.name"
                    />
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Pavardė
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`surname`])}]"
                        v-model="form.surname"
                    />
                    <div class="invalid-feedback" v-if="errors.surname">
                        {{ errors.surname }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        El. paštas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`email`])}]"
                        v-model="form.email"
                    />
                    <div class="invalid-feedback" v-if="errors.email">
                        {{ errors.email }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Telefonas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`phone`])}]"
                        v-model="form.phone"
                    />
                    <div class="invalid-feedback" v-if="errors.phone">
                        {{ errors.phone }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Adresas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`address`])}]"
                        v-model="form.address"
                    />
                    <div class="invalid-feedback" v-if="errors.address">
                        {{ errors.address }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Šalis
                    </label>
                    <input
                        type="text"
                        readonly
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.country.name"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Slaptažodis (tik keičiant)
                    </label>
                    <input
                        type="password"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`password`])}]"
                        v-model="form.password"
                    />
                    <div class="invalid-feedback" v-if="errors.password">
                        {{ errors.password }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Slaptažodio patvirtinimas
                    </label>
                    <input
                        type="password"
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.password_confirmation"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                <div class="form-group mb-5 mb-md-5">
<!--                    <label class="d-block text-black fw-semibold mb-10 opacity-0">-->
<!--                        Nesutinku gauti naujienas-->
<!--                    </label>-->
                    <input id="hidden" type="checkbox" v-model="form.no_subscription" value="1" :checked="form.no_subscription === 1"/>
                    <label for="hidden" class="d-inline-block text-black fw-semibold ms-5">
                        Nesutinku gauti naujienų
                    </label>
                </div>
            </div>
        </div>


        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
        <div class="col-lg-12 col-md-6 mt-4 pt-4">
            <h5>Užsakymai</h5>
            <table class="table text-nowrap align-middle mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Id</th>
                    <th  class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Suma</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order in this.customer.orders" :key="order.id">
                    <td class="shadow-none lh-1 fw-medium">{{ order.id }}</td>
                    <td class="shadow-none lh-1 fw-medium">{{ order.total }}</td>
                    <td>
                        <router-link
                            v-if="$can(EDIT_ORDER)"
                            :to="{name: ROUTE_ORDERS_EDIT, params: {id: order.id}}"
                            class="badge text-outline-primary"
                        >
                            Peržiūrėti
                        </router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import {ROUTE_ORDERS_EDIT} from "../../const/routes.js";
import {EDIT_ORDER} from "../../const/permissions.js";

export default {
    components: {VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'customer'],
    data() {
        return {
            EDIT_ORDER: EDIT_ORDER,
            ROUTE_ORDERS_EDIT: ROUTE_ORDERS_EDIT
        }
    },
    computed: {
        form() {
            let form = {
                name: null,
                surname: null,
                phone: null,
                address: null,
                email: null,
                country: null,
                no_subscription: null,
            };
            if(this.customer) {
                form.id = this.customer.id;
                form.name = this.customer.name;
                form.surname = this.customer.surname;
                form.email = this.customer.email;
                form.phone = this.customer.phone;
                form.address = this.customer.address;
                form.country = this.customer.country;
                form.no_subscription = Boolean(this.customer.no_subscription);
            }
            return form;
        },
    },
    methods: {
        async submitForm() {
            this.$emit('formSubmitted', this.form);
        }
    },
}
</script>
