<template>
    <Main>
        <BreadCrumb PageTitle="Klientai"/>
        <div class="card mb-25 bcustomer-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <SearchForm @searchSubmit="search" :query="searchQuery"/>
            </div>
            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        #
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Vardas pavardė
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        El. paštas
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Telefonas
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Adresas, šalis
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Užsakymai
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Naujienos
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="customer in customers" :key="customer.id">
                    <div class="col-1 td shadow-none lh-1 fw-medium text-paragraph">
                        #{{  customer.id }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ customer.name }} {{ customer.surname }}
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ customer.email }}
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ customer.phone }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ customer.address }}, {{ customer.country.name }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <router-link v-if="$can(LIST_ORDERS)"
                                     :to="{name: ROUTE_ORDERS_LIST, params: {page: 1, search: customer.email}}"
                                     class="badge text-outline-primary"
                        >{{ customer.ordersTotal }} €</router-link>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <span v-if="customer.no_subscription" class="badge text-outline-danger">Ne</span>
                        <span v-else class="badge text-outline-success">Taip</span>
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_CUSTOMER)"
                            :to="{name: ROUTE_CUSTOMERS_EDIT, params: {id: customer.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_CUSTOMER)"
                           @click="deleteCustomer(customer.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
            <Pagination @pageSelected="pageSelected" :meta="this.meta" />
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import customerDataProvider from "../../services/DataProvider/customerDataProvider.js";
import {ROUTE_CUSTOMERS_LIST, ROUTE_CUSTOMERS_EDIT, ROUTE_ORDERS_LIST} from "../../const/routes.js";
import {PAGE_LIMIT} from "../../const/pagination.js";
import {EDIT_CUSTOMER, DELETE_CUSTOMER, LIST_ORDERS} from "../../const/permissions.js";
import SearchForm from "../../components/UIElements/SearchForm.vue";
import Pagination from "../../components/UIElements/Pagination.vue";

export default defineComponent({
    name: "Klientai",
    components: {
        SearchForm, Pagination,
        BreadCrumb, Main
    },
    data() {
        return {
            customers: [],
            meta: [],
            searchQuery: '',
            perPage: PAGE_LIMIT,

            EDIT_CUSTOMER: EDIT_CUSTOMER,
            DELETE_CUSTOMER: DELETE_CUSTOMER,
            ROUTE_CUSTOMERS_EDIT: ROUTE_CUSTOMERS_EDIT,
            ROUTE_ORDERS_LIST: ROUTE_ORDERS_LIST,
            LIST_ORDERS: LIST_ORDERS
        }
    },
    methods: {
        fetchCustomers(page, query = '') {
            customerDataProvider.index(this.perPage, page, query).then(response => {
                this.customers = response.data;
                this.meta = response.meta;
            })
        },
        getPage() {
            const params = this.$route.params;

            return '' === params.page ? 1 : params.page;
        },
        pageSelected(page) {
            this.fetchCustomers(page, this.searchQuery);
            this.$router.push({name: ROUTE_CUSTOMERS_LIST, params: {page: page, search: this.searchQuery}});
        },
        search(query) {
            this.fetchCustomers(this.getPage(), query);
            this.$router.push({name: ROUTE_CUSTOMERS_LIST, params: {page: 1, search: query}});
        },
        async deleteCustomer(id) {
            this.$swal({
                title: "Ištrinti klientą",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    customerDataProvider.delete(id);
                    this.fetchCustomers(this.getPage(), this.searchQuery);
                }
            });
        },
        permissions(permissions) {
            return permissions.map(permission => permission.key).join(', ')
        },
    },
    beforeMount() {
        this.fetchCustomers()
    }
});
</script>
