<template>
    <div>
    <div class="row justify-content-center hv-100 m-0 align-items-center">
        <div class="col-md-10 col-lg-8 col-xl-9 col-xxl-8 col-xxxl-6">
            <div class="card mb-25 border-0 rounded-0 bg-white authentication-card">
                <div class="card-body letter-spacing">
                    <h4 class="text-black fw-bold mb-0 text-center">Prisijungti</h4>
                    <form @submit.prevent="submitForm">
                        <div class="alert alert-danger fs-md-15 fs-lg-16" role="alert" v-if="errors.auth">
                            {{ errors.auth }}
                        </div>
                        <div class="form-group mb-15 mb-sm-20 mb-md-25">
                            <label class="d-block text-black fw-semibold mb-10">El. paštas</label>
                            <input type="email" v-model="form.email"
                                   :class="[`form-control shadow-none text-black`, {'is-invalid': errors.email}]"
                            />
                            <div class="invalid-feedback" v-if="errors.email">
                                {{ errors.email[0] }}
                            </div>
                        </div>
                        <div class="form-group mb-15 mb-sm-20 mb-md-25">
                            <label class="d-block text-black fw-semibold mb-10">Slaptažodis</label>
                            <input
                                type="password" v-model="form.password"
                                :class="[`form-control shadow-none text-black`, {'is-invalid': errors.password}]"
                            />
                            <div class="invalid-feedback" v-if="errors.password">
                                {{ errors.password[0] }}
                            </div>
                        </div>
                        <button
                            class="default-btn transition border-0 fw-medium text-white rounded-1 fs-md-15 fs-lg-16 bg-success d-block w-100"
                            type="submit"
                        >
                            Prisijungti
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
import authDataProvider from '../../services/DataProvider/authDataProvider.js';
import Swal from 'sweetalert2/dist/sweetalert2';

export default {
    name: "LoginForm",
    data() {
        return {
            errors: [],
            form: {
                email: null,
                password: null
            }
        }
    },
    methods: {
        async submitForm() {
            const response = await authDataProvider.login(this.form);
            if (response.errors && typeof response.errors === 'object') {
                this.errors = response.errors;
            } else if(response.errors) {
                Swal.fire({
                    title: "Klaida!",
                    text: response.errors,
                    icon: "error",
                    showConfirmButton: false,
                    position: 'top-end',
                    timer: 1500,
                });
            }
        }
    },
};
</script>
<style>
.hv-100 {
height: 100vh;
}
</style>
