@import "lightbox.css";

$color-black: #232323;
$color-white: #efefef;
$color-gold: #D5Ad36;
$color-blue: #265999;
$color-gold-light: #F4F2C9;
$color-grey: rgba(33, 37, 41, 0.5);

body {
   background-image: url('/images/body-bg.webp');
    font-family: "Nunito", sans-serif;
}
.top-menu a {
    text-decoration: none;
    color: $color-black;
    font-weight: 600;
}
.langs img {
    height: 10px;
}
header input::placeholder {
    color: $color-white !important;
}
header {
    background: $color-blue;
    padding: 1rem 0;

    .form-control {
        background: transparent;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid $color-white;
        box-shadow: none;

        &:focus {
            background: transparent;
            box-shadow: none;
            color: $color-white;
        }
    }
    button {
        background: transparent;
        color: $color-white;
        border: 0;

    }
    a {
        color: $color-white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
        font-weight: 500;

        &:hover {
            color: $color-gold;
        }
    }
}
h1 {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: calc(2.5vw + .5rem);
    margin: 0;

    //font-family: "Oregano", cursive;

    //font-family: "Fondamento", cursive;

    //font-family: "Protest Strike", sans-serif;
    font-family: "Leckerli One", cursive; //

    //font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
}

h1::after {
    background: none;
    content: attr(data-heading) / "";
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
        -1px 0 1px #c6bb9f,
        0 1px 1px #c6bb9f,
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);
}
.title-gold {
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    font-size: calc(0.8vw + .5rem);
    margin: 0;
    text-align: center;
    font-weight: 800;
    font-style: normal;
    display: block;
}

.title-gold::after {
    background: none;
    content: attr(data-heading) / "";
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow:
        -1px 0 1px #c6bb9f,
        0 1px 1px #c6bb9f,
        5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);
}
.block-categories-slider {
    padding: 0 20px 17px;
    background-color: #fff;
    box-shadow: 0 2px 11px #0000001a;
    border-radius: 10px;
}

.block-categories-slider .title {
    color: #000;
    text-transform: unset;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}
.block-categories-slider .title span {
    background: $color-blue;
    display: inline-block;
    padding: 10px 0;
    font-weight: var(--font-weight-bold);
    letter-spacing: .02em;
    width: calc(100% + 40px);
    position: relative;
    left: -20px;
    border-radius: 10px 10px 0 0;
}
h2 {
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}
h3 {
    text-transform: capitalize;
    font-weight: 600;
    color: $color-black;
    font-size: 16px;

    a {
        text-decoration: none;
        color: $color-black;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-gold;
        }
    }
}
.product {
    text-align: center;

    img {
        max-width: 100%;
        max-height: 200px;
    }
}
.btn-more, .btn-gold {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.btn-more {
    border-color: #dee2e6;
}
.btn-gold {
    background: $color-gold;
    font-weight: 600;
    border: 1px solid $color-gold;
    color: $color-white;

    &:hover {
        border: 1px solid $color-gold;
    }
}
.link-gold {
    color: $color-gold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $color-black;
    }
}
.menu {
    font-weight: 600;

    .block-categories-slider {
        background: $color-gold-light;

        .list-group-item {
            background: transparent;
            transition: all 0.3s ease-in-out;
            //color: $color-white;

            a {
                color: unset;
                text-decoration: none;
            }
            &:hover, .current {
                color: $color-gold;
            }
        }
    }
}
#footer {
    background: $color-blue;
    color: $color-white;
    padding: 20px;

    .footer-column__title {
        font-weight: 800;
        font-size: 18px;
        text-align: center;
        color: $color-gold;
        margin-bottom: 20px;
    }
    .footer-navigation__item a {
        color: $color-white;
        text-decoration: none;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: $color-gold;
        }
    }
    .copyright {
        text-align: center;
        font-size: 80%;
        opacity: 0.8;
    }
}
.image {
    position: relative;

    img {
        max-width: 100%;
    }
    span {
        color: $color-gold;
        font-size: 28px;
        font-weight: 600;
        font-family: "Leckerli One", cursive;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        text-shadow:
            -1px 0 1px #fff,
            0 1px 1px #fff,
            5px 5px 10px rgba(255, 255, 255, 0.4),
            -5px -5px 10px rgba(255, 255, 255, 0.4);
    }
}
.select-img-thumbnail, .img-thumbnail:hover {
    background-color: $color-gold;
}
.nav-link {
    &:hover, &.current {
        color: $color-gold;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.price {
    font-weight: 600;
}
.price-sale {
    font-weight: 600;

    span {
        color: $color-gold;
    }
}

.product-view {
    .price {
        font-size: 120%;
        color: $color-gold;
        font-weight: 900;
    }
}

.accordion-item:not(:first-of-type) {
    border-top: 1px solid rgb(222, 226, 230);

    &.is-invalid {
        border-top-color: var(--bs-form-invalid-border-color);
    }
    &.is-valid {
        border-top-color: var(--bs-form-valid-border-color);
    }
}
.accordion-item {
    border: 1px solid rgb(222, 226, 230);
    padding: 18px;

    .accordion-button {
        padding: 0 0 0 45px;

        .dot {
            left: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            transform: translateY(-50%);
            border: 1px solid rgb(222, 226, 230);
        }
        .dot-selected:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            margin: 4px;
            position: absolute;
            border-radius: 50%;
            transition: var(--transition);
            background: $color-gold;
        }
    }
}
.cart-table {
    th {
        color: $color-grey;
        text-transform: uppercase;
        border-bottom: .5px dashed #d9e9ef;
    }
    td {
        border-bottom: .5px dashed #d9e9ef;
    }
    img {
        max-width: 150px;
    }
    a {
        text-decoration: none;
        color: $color-gold;
    }
    button {
        background: transparent;
        border: 0;
        color: $color-grey;

        &:hover {
            color: $color-black;
        }
    }
    .number-counter {
        background: #efefef;
        padding: 5px 0;
        display: inline-block;
        border-radius: 3px;
    }
    input {
        background: transparent;
        border: 0;
        width: 30px;
        appearance: none;
        text-align: center;
    }
    tfoot td {
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
    }
}
.page-link {
    color: $color-grey;
    border-top: 0;
    border-bottom: 0;
}
.active>.page-link, .page-link.active, .page-link:hover {
    background: $color-gold;
    border-color: transparent;
    color: $color-white;
}
.page-item:last-child .page-link {
    border-right: 0;
    border-radius: 0;
}
.page-item:first-child .page-link {
    border-left: 0;
    border-radius: 0;
}
.disabled>.page-link, .page-link.disabled {
    background: transparent;
    color: $color-grey;
}
.status-badge {
    --bs-badge-padding-x: 10px;
    --bs-badge-padding-y: 7px;
    --bs-badge-font-size: 12px;
    --bs-badge-font-weight: 600;
   border-radius: 0;
    letter-spacing: .01em;
    background-color: #f1eae8 !important;
    border: 0;
    cursor: default;
}

.block-categories-slider {
    .level-2  {
        list-style: disc;
        display: list-item;
    }
    .level-3  {
        list-style: circle;
        display: list-item;
    }
}
.menu-open i {
    color: $color-gold;
    opacity: 0.5;
}
.order-preview {
    li {
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
}
// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 575px) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {

}

// Large devices (desktops, 992px and up)
@media (max-width: 991px) {
    .block-categories-slider:nth-child(3) {
        display: none;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1199px) {

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}
