@import './fonts/flaticon.css';
@import './fonts/bold/style.css';
@import './fonts/duotone/style.css';
@import './fonts/fill/style.css';
@import './fonts/light/style.css';
@import './fonts/regular/style.css';
@import './fonts/thin/style.css';

@import './css/style.css';

.tr {
    border-top: .5px dashed #d9e9ef;
}

.td {
    padding: 1rem 0.5rem;
}

.tr:hover {
    background-color: #ECECEC;
}

.cursor-pointer {
    cursor: pointer;
}

a:not(.btn) {
    color: #000;
    text-decoration: none;
}

a:not(.btn):hover {
    text-decoration: underline;
}
.btn {
    line-height: 1;
    padding: 7px 10px;
}
.cursor-pointer {
    cursor: pointer;
}
