<template>
    <Main>
        <BreadCrumb PageTitle="Redaguoti nustatymą"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <div class="modal-body ps-0 pe-0 pb-0 pt-15 pt-md-25">
                    <Form enctype="multipart/form-data" @formSubmitted="onFormSubmitted" :errors="this.errors" :setting="this.setting"/>
                </div>
            </div>
        </div>
    </Main>
</template>

<script>
import settingDataProvider from "../../services/DataProvider/settingDataProvider.js";
import Form from "./form.vue";
import formHelper from "../../helpers/form.js";
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {ROUTE_SETTINGS_LIST} from "../../const/routes.js";

export default {
    name: "Redaguoti nustatymą",
    components: {Main, BreadCrumb, Form},
    data() {
        return {
            errors: [],
            setting: [],
        }
    },
    methods: {
        async onFormSubmitted(formData) {
            formHelper.fillParam(formData.descriptions, 'slug', 'name');
            const response = await settingDataProvider.patch(formData.id, formData);
            if (response.errors) {
                this.errors = response.errors;
            } else {
                this.$router.push({name: ROUTE_SETTINGS_LIST});
                this.$swal('Sėkmingai atnaujinta');
            }
        },
        async fetchSetting() {
            settingDataProvider.find(this.$route.params.id).then(response => {
                this.setting = response.data;
            });
        },
    },
    beforeMount() {
        this.fetchSetting();
    }
};
</script>
