<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="col-lg-6 col-md-6" v-if="$can(CREATE_SETTING)">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Tabas
                    </label>
                    <select v-model="form.tab_id"
                            :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`tab_id`])}]">
                        <option  v-for="(settingsIdTab) in settingsTabs" :value="settingsIdTab.id">{{
                                settingsIdTab.name
                            }}
                        </option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.tab_id">
                        {{ errors.tab_id }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6" v-if="$can(CREATE_SETTING)">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Key
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`key`])}]"
                        v-model="form.key"
                    />
                    <div class="invalid-feedback" v-if="errors.key">
                        {{ errors.key }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25" v-if="$can(CREATE_SETTING)">
                    <label class="d-block text-black fw-semibold mb-10">
                        Pavadinimas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`name`])}]"
                        v-model="form.name"
                    />
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name }}
                    </div>
                </div>
                <b class="d-block mb-2" v-else>{{ form.name }}</b>
            </div>
        </div>

        <ul class="nav nav-tabs mb-3 text-uppercase">
            <li class="nav-item" v-for="(language, language_id) in this.languages">
                <div :class="[`nav-link cursor-pointer`, {'active': this.languageTab == language.id}]" @click="showLangTab(language.id)">
                    {{ language.name }}
                </div>
            </li>
        </ul>

        <div v-for="(language, language_id) in this.languages" :key="language_id">
            <div class="row" v-if="this.languageTab == language.id">
                <div class="col-12">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Tekstas
                        </label>
                        <QuillEditor
                            theme="snow"
                            placeholder="Write your meta description"
                            toolbar="full"
                            v-model:content="form.descriptions[language.id].body"
                            contentType="html"
                        />
                        <div class="invalid-feedback d-block" v-if="errors[`descriptions.${language.id}.body`]">
                            {{ errors[`descriptions.${language.id}.body`] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import languageDataProvider from "../../services/DataProvider/languageDataProvider.js";
import {CREATE_SETTING} from "../../const/permissions.js";
import settingDataProvider from "../../services/DataProvider/settingDataProvider.js";

export default {
    emits: ['formSubmitted'],
    props: ['errors', 'setting'],
    data() {
        return {
            settingsTabs: [],
            languages: [],
            languageTab: 1,
            CREATE_SETTING: CREATE_SETTING,
        }
    },
    computed: {
        form() {
            let form = {
                key: null,
                name: null,
                tab_id: 0
            };
            for (const [id, language] of Object.entries(this.languages)) {
                if (form.descriptions == undefined) {
                    form.descriptions = {[language.id]: {body: null}};
                } else {
                    form.descriptions[language.id] = {body: null};
                }
            }
            if (this.setting) {
                form.id = this.setting.id;
                form.key = this.setting.key;
                form.name = this.setting.name;
                form.tab_id = this.setting.tab_id;
                for (const [id, language] of Object.entries(this.languages)) {
                    const langDescriptions = this.setting.descriptions.filter(
                        (description) => description.language_id == language.id
                    );
                    if (langDescriptions.length > 0) {
                        form.descriptions[language.id] = langDescriptions[0];
                    }
                }
            }
            return form;
        }
    },
    methods: {
        fetchLanguages() {
            languageDataProvider.index().then(response => {
                this.languages = response.languages;
            })
        },
        fetchSettingsTabs() {
            settingDataProvider.tabs().then(response => {
                this.settingsTabs = response.data;
            })
        },
        showLangTab(tabId) {
            this.languageTab = tabId;
        },
        async submitForm() {
            this.$emit('formSubmitted', this.form);
        }
    },
    beforeMount() {
        this.fetchLanguages();
        this.fetchSettingsTabs();
    }
}
</script>
