<template>
    <Main>
        <BreadCrumb PageTitle="Nustatymai"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <SearchForm @searchSubmit="search" :query="searchQuery"/>
                <router-link
                    v-if="$can(CREATE_SETTING)"
                    :to="{name: ROUTE_SETTINGS_CREATE}"
                    class="default-btn position-relative transition border-0 fw-medium text-white pt-11 pb-11 ps-25 pe-25 pt-md-12 pb-md-12 ps-md-30 pe-md-30 rounded-1 bg-success fs-md-15 fs-lg-16 d-inline-block me-10 mb-10 mb-lg-0 text-decoration-none"
                >
                    Sukurti nustatymą
                    <i class="flaticon-plus position-relative ms-5 fs-12"></i>
                </router-link>
            </div>
            <ul class="nav nav-tabs mb-3 text-uppercase mt-4 ps-5">
                <li class="nav-item" v-for="(settingsIdTab) in settingsTabs">
                    <div :class="[`nav-link cursor-pointer`, {'active': this.settingsTab == settingsIdTab.id}]" @click="showSettingsTab(settingsIdTab.id)">
                        {{ settingsIdTab.name }} <span v-if="this.settingsTabsTotal[settingsIdTab.id]">({{ this.settingsTabsTotal[settingsIdTab.id] }})</span>
                    </div>
                </li>
            </ul>
            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        #
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2"  v-if="$can(CREATE_SETTING)">
                        Key
                    </div>
                    <div class="col-3 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Pavadinimas
                    </div>
                    <div class="col-4 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Tekstas
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="setting in settingsByTab" :key="setting.id">
                    <div class="col-1 td shadow-none lh-1 fw-medium text-paragraph">
                        #{{  setting.id }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title" v-if="$can(CREATE_SETTING)">
                        {{ setting.key }}
                    </div>
                    <div class="col-3 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ setting.name }}
                    </div>
                    <div class="col-4 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <span v-html="setting.descriptions[0].body"></span>
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_SETTING)"
                            :to="{name: ROUTE_SETTINGS_EDIT, params: {id: setting.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_SETTING)"
                           @click="deleteSetting(setting.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import settingDataProvider from "../../services/DataProvider/settingDataProvider.js";
import {ROUTE_SETTINGS_LIST, ROUTE_SETTINGS_CREATE, ROUTE_SETTINGS_EDIT} from "../../const/routes.js";
import {PAGE_LIMIT} from "../../const/pagination.js";
import {CREATE_SETTING, EDIT_SETTING, DELETE_SETTING} from "../../const/permissions.js";
import SearchForm from "../../components/UIElements/SearchForm.vue";
import Pagination from "../../components/UIElements/Pagination.vue";

export default defineComponent({
    name: "Nustatymai",
    components: {
        SearchForm, Pagination,
        BreadCrumb, Main
    },
    data() {
        return {
            settings: [],
            meta: [],
            searchQuery: '',
            perPage: PAGE_LIMIT,
            settingsTabs: [],
            settingsTabsTotal: [],
            settingsTab: 1,

            CREATE_SETTING: CREATE_SETTING,
            EDIT_SETTING: EDIT_SETTING,
            DELETE_SETTING: DELETE_SETTING,
            ROUTE_SETTINGS_CREATE: ROUTE_SETTINGS_CREATE,
            ROUTE_SETTINGS_EDIT: ROUTE_SETTINGS_EDIT
        }
    },
    computed: {
        settingsByTab() {
            return this.settings.filter((setting) => setting.tab_id == this.settingsTab);
        }
    },
    methods: {
        fetchSettings(page, query = '') {
            settingDataProvider.index(this.perPage, page, query).then(response => {
                this.settings = response.data;
                this.meta = response.meta;
            })
        },
        fetchSettingsTabs() {
            settingDataProvider.tabs().then(response => {
                const settingsTabs = response.data;
                settingsTabs.forEach((settingsTab) => {
                    this.settingsTabsTotal[settingsTab.id] = this.settings.filter((setting) => setting.tab_id == settingsTab.id).length;
                });
                this.settingsTabs = settingsTabs;
            })
        },
        getPage() {
            const params = this.$route.params;
            return '' === params.page ? 1 : params.page;
        },
        pageSelected(page) {
            this.fetchSettings(page, this.searchQuery);
            this.$router.push({name: ROUTE_SETTINGS_LIST, params: {page: page, search: this.searchQuery}});
        },
        search(query) {
            this.fetchSettings(this.getPage(), query);
            this.fetchSettingsTabs();
            this.$router.push({name: ROUTE_SETTINGS_LIST, params: {page: 1, search: query}});
        },
        showSettingsTab(tabId) {
            this.settingsTab = tabId;
        },
        async deleteSetting(id) {
            this.$swal({
                title: "Ištrinti nustatymą",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    settingDataProvider.delete(id);
                    this.fetchSettings(this.getPage(), this.searchQuery);
                }
            });
        },
        permissions(permissions) {
            return permissions.map(permission => permission.key).join(', ')
        },
    },
    beforeMount() {
        this.fetchSettings()
        this.fetchSettingsTabs()
    }
});
</script>
