<template>
      <div
        class="pagination-area d-md-flex mt-15 mt-sm-20 mt-md-25 justify-content-between align-items-center p-3"
    >
        <p class="mb-0 text-paragraph">
            Rodoma <span class="fw-bold">{{ meta.per_page }}</span> iš
            <span class="fw-bold">{{ meta.total }}</span>
        </p>
        <nav class="mt-15 mt-md-0">
            <ul class="pagination mb-0">
                <li class="page-item" v-for="link in meta.links" @click="selectPage(link)">
                    <button class="page-link" :class="{'active': link.active}" v-html="link.label"></button>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>
export default {
    emits: ['page-selected'],
    props: {
        page: {
            type: Number,
            default: 1,
        },
        meta: {
            type: Object,
            default: {}
        }
    },
    data() {
    },
    methods: {
        selectPage(link) {
            if (null === link.url) {
                return;
            }

            const extractedPage = link.url.match(/page=(\d+)/)[1];
            if (this.meta.current_page === extractedPage) {
                return;
            }

            this.$emit('page-selected', extractedPage);
        }
    },
}
</script>
<style>
.pagination-area {
    border-top: .5px dashed #d9e9ef;
}
</style>
