<template>
    <img v-if="photo" :src="photo" :alt="name" class="img-thumbnail" />
</template>

<script>
export default {
    props: ['photo', 'name']
}
</script>

<style scoped>
img {
    max-width: 150px
}
</style>
