<template>
    <form class="search-box position-relative">
        <input
            type="text"
            class="form-control shadow-none text-black rounded-0 border-0"
            placeholder="Paieška"
            v-model="searchQuery"
            @input="debouncedSearch"
            autofocus
        />
        <button
            type="submit"
            class="bg-transparent text-primary transition p-0 border-0"
            @click.prevent="submitSearch"
        >
            <i class="flaticon-search-interface-symbol"></i>
        </button>
    </form>
</template>

<script>
import debounce from "lodash.debounce";

export default {
    emits: ['search-submit'],
    props: {
        query: {
            type: String,
            default: '',
        }
    },
    data() {
        return {
            searchQuery: this.query,
        }
    },
    methods: {
        debouncedSearch: debounce(function () {
            if (this.searchQuery.length >= 2 || this.searchQuery === '') {
                this.$emit('search-submit', this.searchQuery);
            }
        }, 300),

        submitSearch() {
            this.$emit('search-submit', this.searchQuery);
        }
    },
}
</script>
