<template>
    <form @submit.prevent="submitForm">
        <div class="mb-3">
            <div v-if="this.photosAdded" v-for="photo in this.photosAdded" class="d-inline-block me-2 mt-2 mb-2">
                <PhotoThumb :photo="photo.url"/>
                <small class="d-block opacity-50 mt-1">
                    <input type="checkbox" v-model="this.photosRemoved" :value="photo.id" :id="`photo-`+photo.id"
                           class="me-1"/>
                    <label :for="`photo-`+photo.id">Pašalinti</label>
                </small>
            </div>
            <input type="file" name="photos" @input="form.photos = $event.target.files" multiple
                   :class="[`form-control`, {'is-invalid': (errors[`photos`] || errors[`photos.0`] ||
                    errors[`photos.1`] || errors[`photos.2`] || errors[`photos.3`] || errors[`photos.4`])}]"/>
            <div class="invalid-feedback d-block" v-if="errors[`photos`]">
                {{ errors[`photos`] }}
            </div>
            <div class="invalid-feedback d-block" v-if="errors[`photos.0`]">
                {{ errors[`photos.0`] }}
            </div>
            <div class="invalid-feedback d-block" v-if="errors[`photos.1`]">
                {{ errors[`photos.1`] }}
            </div>
            <div class="invalid-feedback d-block" v-if="errors[`photos.2`]">
                {{ errors[`photos.2`] }}
            </div>
            <div class="invalid-feedback d-block" v-if="errors[`photos.3`]">
                {{ errors[`photos.3`] }}
            </div>
            <div class="invalid-feedback d-block" v-if="errors[`photos.4`]">
                {{ errors[`photos.4`] }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <input id="top" type="checkbox" v-model="form.top" value="1" :checked="form.top === 1"/>
                    <label for="top" class="d-inline-block text-black fw-semibold ms-5">
                        Top prekė
                    </label>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <input id="hidden" type="checkbox" v-model="form.hidden" value="1" :checked="form.hidden === 1"/>
                    <label for="hidden" class="d-inline-block text-black fw-semibold ms-5">
                        Paslėpta
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Kategorijos
                    </label>
                    <VueSelect
                        v-if="this.categoriesSelect"
                        v-model="selectedCategoriesIds"
                        :class="[``, {'is-invalid': errors.categoriesIds}]"
                        :options=this.categoriesSelect
                        placeholder="Pasirinkite kategorijas"
                        isMulti="true"
                        :get-option-label="(category) => `${category.label}`"
                    />
                    <div class="invalid-feedback" v-if="errors.categoriesIds">
                        {{ errors.categoriesIds }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Kiekis
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`quantity`])}]"
                        v-model="form.quantity"
                    />
                    <div class="invalid-feedback" v-if="errors.quantity">
                        {{ errors.quantity }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Kaina
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`price`])}]"
                        v-model="form.price"
                    />
                    <div class="invalid-feedback" v-if="errors.price">
                        {{ errors.price }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Nauja akcijinė kaina
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`sale`])}]"
                        v-model="form.sale"
                    />
                    <div class="invalid-feedback" v-if="errors.sale">
                        {{ errors.sale }}
                    </div>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs mb-3 text-uppercase">
            <li class="nav-item" v-for="(language, language_id) in this.languages">
                <div :class="[`nav-link cursor-pointer`, {'active': this.languageTab == language.id}]"
                     @click="showLangTab(language.id)">
                    {{ language.name }}
                </div>
            </li>
        </ul>

        <div v-for="(language, language_id) in this.languages" :key="language_id">
            <div class="row" v-if="this.languageTab == language.id">
                <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Pavadinimas
                        </label>
                        <input
                            v-if="form.descriptions[language.id]"
                            type="text"
                            :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`descriptions.${language.id}.name`] || errors[`descriptions`])}]"
                            v-model="form.descriptions[language.id].name"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.name`]">
                            {{ errors[`descriptions.${language.id}.name`] }}
                        </div>
                        <div class="invalid-feedback" v-if="errors[`descriptions`]">
                            Būtina užpildyti pavadinimus visomis kalbomis
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Nuoroda (nieko neįvedus - automatiškai)
                        </label>
                        <input
                            v-if="form.descriptions[language.id]"
                            type="text"
                            :class="[`form-control shadow-none text-black`, {'is-invalid': errors[`descriptions.${language.id}.slug`]}]"
                            v-model="form.descriptions[language.id].slug"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.slug`]">
                            {{ errors[`descriptions.${language.id}.slug`] }}
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-15 mb-md-25">
                        <label class="d-block text-black fw-semibold mb-10">
                            Tekstas
                        </label>
                        <QuillEditor
                            theme="snow"
                            placeholder="Write your meta description"
                            toolbar="full"
                            v-model:content="form.descriptions[language.id].body"
                            contentType="html"
                        />
                        <div class="invalid-feedback" v-if="errors[`descriptions.${language.id}.body`]">
                            {{ errors[`descriptions.${language.id}.body`] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-md-6" v-if="form.cartsItems.length > 0">
            <h4>Užsakymai su preke</h4>
            <table class="table text-nowrap align-middle mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Užsakymo nr</th>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Užsakymo statusas</th>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Kaina</th>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Kiekis</th>
                    <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Suma</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cartItem in form.cartsItems" :key="cartItem.id">
                    <td class="shadow-none lh-1 fw-medium">
                        <router-link v-if="$can(EDIT_ORDER)"
                                     :to="{name: ROUTE_ORDERS_EDIT, params: {id: cartItem.orderId}}"
                                     class="badge text-outline-primary">#{{ cartItem.orderId }}
                        </router-link>
                    </td>
                    <td>
                        <div v-for="status in this.statuses">
                            <span :class="[`badge`, this.statuses_classes[Object.keys(status)[0]]]"
                                  v-if="cartItem.orderStatus == Object.keys(status)[0]">
                                {{ Object.values(status)[0] }}
                            </span>
                        </div>
                    </td>
                    <td>{{ cartItem.price }}</td>
                    <td>{{ cartItem.quantity }}</td>
                    <td>{{ cartItem.subtotal }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import PhotoThumb from "../../components/UIElements/PhotoThumb.vue";
import languageDataProvider from "../../services/DataProvider/languageDataProvider.js";
import categoryDataProvider from "../../services/DataProvider/categoryDataProvider.js";
import settingDataProvider from "../../services/DataProvider/settingDataProvider.js";
import {STATUSES_LIST} from "../../const/orderStatuses.js";
import {ROUTE_ORDERS_EDIT} from "../../const/routes.js";
import {EDIT_ORDER} from "../../const/permissions.js";

export default {
    components: {PhotoThumb, VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'product'],
    data() {
        return {
            categories: [],
            selectedCategoriesIds: [],
            languages: [],
            languageTab: 1,
            photosAdded: [],
            photosRemoved: [],
            productsCategories: [],
            ROUTE_ORDERS_EDIT: ROUTE_ORDERS_EDIT,
            EDIT_ORDER: EDIT_ORDER,
            statuses: STATUSES_LIST,
            statuses_classes: ['', 'text-outline-primary', 'text-outline-danger-emphasis', 'text-outline-warning', 'text-outline-muted', 'text-outline-success']
        }
    },
    computed: {
        form() {
            let form = {
                price: null,
                sale: null,
                hidden: false,
                top: false,
                cartsItems: []
            };
            for (const [id, language] of Object.entries(this.languages)) {
                if (form.descriptions == undefined) {
                    form.descriptions = {[language.id]: {name: null, slug: null, body: null}};
                } else {
                    form.descriptions[language.id] = {name: null, slug: null, body: null};
                }
            }
            if (this.product) {
                if (this.product.categories && this.categories.length > 0) {
                    this.selectedCategoriesIds = this.product.categories.map(
                        (category) => category.id
                    );
                }
                form.id = this.product.id;
                form.price = this.product.price;
                form.sale = this.product.sale;
                form.quantity = this.product.quantity;
                form.top = this.product.top; //Boolean(this.product.top);
                form.hidden = this.product.hidden; //Boolean(this.product.hidden);
                form.cartsItems = this.product.cartsItems;
                for (const [id, language] of Object.entries(this.languages)) {
                    const langDescriptions = this.product.descriptions.filter(
                        (description) => description.language_id == language.id
                    );
                    if (langDescriptions.length > 0) {
                        form.descriptions[language.id] = langDescriptions[0];
                    }
                }
                if (this.product.photos) {
                    this.photosAdded = [];
                    for (const [id, photo] of Object.entries(this.product.photos)) {
                        this.photosAdded.push(photo);
                    }
                }
            }
            return form;
        },
        categoriesSelect() {
            const parentId = this.productsCategories; //todo - many
            const parent = this.categories.filter((category) => category.parent_id == parentId);
            const categoriesSelect = [];
            //MAX_LEVEL 3 - don't show last level in select
            parent.forEach((categoryItem) => {
                categoriesSelect.push({value: categoryItem.id, label: categoryItem.descriptions[0].name});
                const submenu = this.categories.filter((category) => category.parent_id == categoryItem.id);
                submenu.forEach((categoryItem2) => {
                    categoriesSelect.push({value: categoryItem2.id, label: '-' + categoryItem2.descriptions[0].name});
                });
            });
            return categoriesSelect;
        }
    },
    methods: {
        fetchCategories() {
            categoryDataProvider.index().then(response => {
                this.categories = response.categories;
            })
        },
        fetchLanguages() {
            languageDataProvider.index().then(response => {
                this.languages = response.languages;
            })
        },
        async fetchSetting() {
            settingDataProvider.findByKey('product').then(response => {
                this.productsCategories = response;
            });
        },
        showLangTab(tabId) {
            this.languageTab = tabId;
        },
        async submitForm() {
            this.form.categoriesIds = this.selectedCategoriesIds;
            this.form.photosRemoved = this.photosRemoved;
            this.form.top = Number(this.form.top);
            this.form.hidden = Number(this.form.hidden);
            this.$emit('formSubmitted', this.form);
        }
    },
    beforeMount() {
        this.fetchCategories();
        this.fetchLanguages();
        this.fetchSetting();
    }
}
</script>
