<template>
    <Main>
        <BreadCrumb PageTitle="Produktai"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <SearchForm @searchSubmit="search" :query="searchQuery"/>
                <router-link
                    v-if="$can(CREATE_PRODUCT)"
                    :to="{name: ROUTE_PRODUCTS_CREATE}"
                    class="default-btn position-relative transition border-0 fw-medium text-white pt-11 pb-11 ps-25 pe-25 pt-md-12 pb-md-12 ps-md-30 pe-md-30 rounded-1 bg-success fs-md-15 fs-lg-16 d-inline-block me-10 mb-10 mb-lg-0 text-decoration-none"
                >
                    Sukurti produktą
                    <i class="flaticon-plus position-relative ms-5 fs-12"></i>
                </router-link>
            </div>
            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        #
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Nuotrauka
                    </div>
                    <div class="col-3 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Pavadinimas
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Kaina
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Likęs/įvestas kiekis
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Kategorijos
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Paslėpta
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="product in products" :key="product.id">
                    <div class="col-1 td shadow-none lh-1 fw-medium text-paragraph">
                        #{{  product.id }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <PhotoThumb v-if="product.photos[0]" :photo="product.photos[0].url" />
                    </div>
                    <div class="col-3 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ product.descriptions[0].name }}
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="product.sale > 0"><del> {{ product.price }}</del>  {{ product.sale }}</span>
                        <span v-else>  {{ product.price }} </span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        {{ product.quantityWeb }}/{{ product.quantity }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <span v-if="product.categories" v-for="category in product.categories" class="me-2">
                            {{ category.name }}
                        </span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium">
                        <span v-if="product.hidden">Taip</span>
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_PRODUCT)"
                            :to="{name: ROUTE_PRODUCTS_EDIT, params: {id: product.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_PRODUCT)"
                           @click="deleteProduct(product.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
            <Pagination @pageSelected="pageSelected" :meta="this.meta" />
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import productDataProvider from "../../services/DataProvider/productDataProvider.js";
import {ROUTE_PRODUCTS_LIST, ROUTE_PRODUCTS_CREATE, ROUTE_PRODUCTS_EDIT} from "../../const/routes.js";
import {PAGE_LIMIT} from "../../const/pagination.js";
import {CREATE_PRODUCT, EDIT_PRODUCT, DELETE_PRODUCT} from "../../const/permissions.js";
import PhotoThumb from "../../components/UIElements/PhotoThumb.vue";
import SearchForm from "../../components/UIElements/SearchForm.vue";
import Pagination from "../../components/UIElements/Pagination.vue";

export default defineComponent({
    name: "Produktai",
    components: {
        PhotoThumb, SearchForm, Pagination,
        BreadCrumb, Main
    },
    data() {
        return {
            products: [],
            meta: [],
            searchQuery: '',
            perPage: PAGE_LIMIT,

            CREATE_PRODUCT: CREATE_PRODUCT,
            EDIT_PRODUCT: EDIT_PRODUCT,
            DELETE_PRODUCT: DELETE_PRODUCT,
            ROUTE_PRODUCTS_CREATE: ROUTE_PRODUCTS_CREATE,
            ROUTE_PRODUCTS_EDIT: ROUTE_PRODUCTS_EDIT
        }
    },
    methods: {
        fetchProducts(page, query = '') {
            productDataProvider.index(this.perPage, page, query).then(response => {
                this.products = response.data;
                this.meta = response.meta;
            })
        },
        getPage() {
            const params = this.$route.params;

            return '' === params.page ? 1 : params.page;
        },
        pageSelected(page) {
            this.fetchProducts(page, this.searchQuery);
            this.$router.push({name: ROUTE_PRODUCTS_LIST, params: {page: page, search: this.searchQuery}});
        },
        search(query) {
            this.fetchProducts(this.getPage(), query);
            this.$router.push({name: ROUTE_PRODUCTS_LIST, params: {page: 1, search: query}});
        },
        async deleteProduct(id) {
            this.$swal({
                title: "Ištrinti produktą",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    productDataProvider.delete(id);
                    this.fetchProducts(this.getPage(), this.searchQuery);
                }
            });
        },
        permissions(permissions) {
            return permissions.map(permission => permission.key).join(', ')
        },
    },
    beforeMount() {
        this.fetchProducts()
    }
    //todo: current meniu, back to main, settings pages (remove admin tab, search by key), order status from enums
});
</script>
