<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <h4>
                Užsakymo informacija
                <router-link v-if="order && order.customer && $can(EDIT_CUSTOMER)"
                             :to="{name: ROUTE_CUSTOMERS_EDIT, params: {id: order.customer.id}}"
                             class="badge text-outline-primary"
                >Klientas: {{ order.customer.name }}</router-link>
            </h4>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">Vardas</label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`name`])}]"
                        v-model="form.name"
                    />
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Pavardė
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`surname`])}]"
                        v-model="form.surname"
                    />
                    <div class="invalid-feedback" v-if="errors.surname">
                        {{ errors.surname }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        El. paštas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`email`])}]"
                        v-model="form.email"
                    />
                    <div class="invalid-feedback" v-if="errors.email">
                        {{ errors.email }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Telefonas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`phone`])}]"
                        v-model="form.phone"
                    />
                    <div class="invalid-feedback" v-if="errors.phone">
                        {{ errors.phone }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Adresas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`address`])}]"
                        v-model="form.address"
                    />
                    <div class="invalid-feedback" v-if="errors.address">
                        {{ errors.address }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Šalis
                    </label>
                    <input
                        type="text"
                        readonly
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.country.name"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Pristatymas
                    </label>
                    <input
                        type="text"
                        readonly
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.delivery"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Apmokėjimas
                    </label>
                    <input
                        type="text"
                        readonly
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.payment"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Paštomato kodas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.delivery_terminal_code"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Paštomato pavadinimas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.delivery_terminal_name"
                    />
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Statusas
                    </label>
                    <select  :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`status`])}]"
                              v-model="form.status">
                        <option v-bind:value=Object.keys(status)[0] v-for="status in this.statuses">{{ Object.values(status)[0] }}</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.status">
                        {{ errors.status }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Siuntos kodas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`track_code`])}]"
                        v-model="form.track_code"
                    />
                    <div class="invalid-feedback" v-if="errors.track_code">
                        {{ errors.track_code }}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6">
                <h4>Produktai</h4>
                <table class="table text-nowrap align-middle mb-0">
                    <thead>
                    <tr>
                        <th class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Prekės nr</th>
                        <th  class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Pavadinimas</th>
                        <th  class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Kaina</th>
                        <th  class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Kiekis</th>
                        <th  class="text-uppercase fw-medium shadow-none text-body-tertiary fs-13">Suma</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="cartItem in this.products" :key="cartItem.id">
                        <td class="shadow-none lh-1 fw-medium">{{ cartItem.product_id }}</td>
                        <td class="shadow-none lh-1 fw-medium">{{ cartItem.name }}</td>
                        <td>{{ cartItem.price }}</td>
                        <td>{{ cartItem.quantity }}</td>
                        <td>{{ cartItem.subtotal }}</td>
                        <td>
                            <a class="dropdown-item d-flex align-items-center" @click="removeProduct(cartItem.id)">
                                <i class="flaticon-delete lh-1 me-8 position-relative top-1"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-md-6"></div>
            <div class="col-lg-6 col-md-6 mt-2">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Suma
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`total`])}]"
                        v-model="total"
                    />
                    <div class="invalid-feedback" v-if="errors.total">
                        {{ errors.total }}
                    </div>
                </div>
            </div>
        </div>


        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import {ROUTE_CUSTOMERS_EDIT} from "../../const/routes.js";
import {EDIT_CUSTOMER} from "../../const/permissions.js";
import {STATUSES_LIST} from "../../const/orderStatuses.js";

export default {
    components: {VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'order'],
    data() {
        return {
            products: [],
            total: 0,
            EDIT_CUSTOMER: EDIT_CUSTOMER,
            ROUTE_CUSTOMERS_EDIT: ROUTE_CUSTOMERS_EDIT,
            statuses: STATUSES_LIST
        }
    },
    computed: {
        form() {
            let form = {
                name: null,
                surname: null,
                phone: null,
                address: null,
                email: null,
                country: null,
                delivery: null,
                payment: null,
                cartItems: [],
                total: 0,
                status: 1,
                track_code: null,
                delivery_terminal_code: null,
                delivery_terminal_name: null
            };
            if(this.order) {
                form.id = this.order.id;
                form.name = this.order.name;
                form.surname = this.order.surname;
                form.email = this.order.email;
                form.phone = this.order.phone;
                form.address = this.order.address;
                form.country = this.order.country;
                form.delivery = this.order.delivery;
                form.payment = this.order.payment;
                form.cartItems = this.order.cartItems;
                form.total = this.order.total;
                this.products = this.order.cartItems;
                this.total = this.order.total;
                form.status = this.order.status;
                form.track_code = this.order.trackCode;
                form.delivery_terminal_code = this.order.delivery_terminal_code;
                form.delivery_terminal_name = this.order.delivery_terminal_name;
            }
            return form;
        },
    },
    methods: {
        async submitForm() {
            this.form.cartItems = this.products;
            this.form.total = this.total;
            this.$emit('formSubmitted', this.form);
        },
        removeProduct(cartItemId) {
            let products = this.products.filter((product) => product.id != cartItemId);
            let productsSubtotals = products.map(a => a.subtotal);
            let total = productsSubtotals.reduce((partialSum, a) => partialSum + a, 0);
            this.products = products;
            this.total = total;
        }
    },
}
</script>
