<template>
    <Main>
        <BreadCrumb PageTitle="Užsakymai"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <SearchForm @searchSubmit="search" :query="searchQuery"/>
            </div>
            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-auto text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        #
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Stausas
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Vardas pavardė
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        El. paštas, telefonas
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Adresas, šalis
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Pristatymas
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Apmokėjimas
                    </div>
                    <div class="col-1 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Viso
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="order in orders" :key="order.id">
                    <div class="col-auto td shadow-none lh-1 fw-medium text-paragraph">
                        #{{  order.id }}
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <div v-for="status in this.statuses">
                            <span :class="[`badge`, this.statuses_classes[Object.keys(status)[0]]]"  v-if="order.status == Object.keys(status)[0]">
                                {{ Object.values(status)[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        <router-link v-if="order.customer && $can(EDIT_CUSTOMER)"
                            :to="{name: ROUTE_CUSTOMERS_EDIT, params: {id: order.customer.id}}"
                            class="badge text-outline-primary"
                        >Klientas: {{ order.name }} {{ order.surname }}</router-link>
                        <span v-else>{{ order.name }} {{ order.surname }}</span>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ order.email }}<br />{{ order.phone }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ order.address }}, {{ order.country.name }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ order.delivery }}
                        <div class="d-block" v-if="order.delivery_terminal_name">Paštomatas: {{ order.delivery_terminal_name }}</div>
                        <div class="d-block" v-if="order.trackCode">Siuntos kodas: {{ order.trackCode }}</div>
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ order.payment }}
                    </div>
                    <div class="col-1 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ order.total }}
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_ORDER)"
                            :to="{name: ROUTE_ORDERS_EDIT, params: {id: order.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_ORDER)"
                           @click="deleteOrder(order.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
            <Pagination @pageSelected="pageSelected" :meta="this.meta" />
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import orderDataProvider from "../../services/DataProvider/orderDataProvider.js";
import {ROUTE_ORDERS_LIST, ROUTE_ORDERS_EDIT, ROUTE_CUSTOMERS_EDIT} from "../../const/routes.js";
import {PAGE_LIMIT} from "../../const/pagination.js";
import {EDIT_ORDER, DELETE_ORDER, EDIT_CUSTOMER} from "../../const/permissions.js";
import SearchForm from "../../components/UIElements/SearchForm.vue";
import Pagination from "../../components/UIElements/Pagination.vue";
import {STATUSES_LIST} from "../../const/orderStatuses.js";

export default defineComponent({
    name: "Užsakymai",
    components: {
        SearchForm, Pagination,
        BreadCrumb, Main
    },
    data() {
        return {
            orders: [],
            meta: [],
            searchQuery: '',
            perPage: PAGE_LIMIT,

            EDIT_ORDER: EDIT_ORDER,
            DELETE_ORDER: DELETE_ORDER,
            ROUTE_ORDERS_EDIT: ROUTE_ORDERS_EDIT,
            EDIT_CUSTOMER: EDIT_CUSTOMER,
            ROUTE_CUSTOMERS_EDIT: ROUTE_CUSTOMERS_EDIT,
            statuses: STATUSES_LIST,
            statuses_classes: ['', 'text-outline-primary', 'text-outline-danger-emphasis', 'text-outline-warning', 'text-outline-muted', 'text-outline-success']
        }
    },
    methods: {
        fetchOrders(page, query = '') {
            orderDataProvider.index(this.perPage, page, query).then(response => {
                this.orders = response.data;
                this.meta = response.meta;
            })
        },
        getPage() {
            const params = this.$route.params;

            return '' === params.page ? 1 : params.page;
        },
        pageSelected(page) {
            this.fetchOrders(page, this.searchQuery);
            this.$router.push({name: ROUTE_ORDERS_LIST, params: {page: page, search: this.searchQuery}});
        },
        search(query) {
            this.fetchOrders(this.getPage(), query);
            this.$router.push({name: ROUTE_ORDERS_LIST, params: {page: 1, search: query}});
        },
        async deleteOrder(id) {
            this.$swal({
                title: "Ištrinti užsakymą",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    orderDataProvider.delete(id);
                    this.fetchOrders(this.getPage(), this.searchQuery);
                }
            });
        },
        permissions(permissions) {
            return permissions.map(permission => permission.key).join(', ')
        },
    },
    beforeMount() {
        const params = this.$route.params;
        const page = params.page ? 1 : params.page;
        const search = params.search;
        this.searchQuery = search;
        this.fetchOrders(page, search)
    }
});
</script>
