<template>
    <Main>
        <BreadCrumb PageTitle="Darbastalis"/>

        <div class="col-12">
            <div class="row">
                <div class="col-xl-6 col-lg-4 col-xxxl-4 col-sm-6">
                    <div class="card mb-25 border-0 rounded-0 bg-white stats-box">
                        <div class="card-body pe-20 ps-20 pe-md-25 ps-md-25 pe-lg-15 ps-lg-15">
                            <div class="d-flex align-items-center">
                                <div class="icon position-relative rounded-circle text-center text-danger"><i
                                    class="flaticon-trolley-cart"></i></div>
                                <div class="title ms-15"><span
                                    class="d-block mb-7 fs-13 text-uppercase fw-medium text-dark-emphasis">UŽSAKYMAI</span>
                                    <h4 class="fw-black mb-8 lh-1">{{  this.orders }}€</h4>
<!--                                    <span-->
<!--                                        class="fw-medium text-dark-emphasis">1,103</span><span-->
<!--                                        class="fw-bold text-success ms-11 text-success">2.5% <i-->
<!--                                        class="flaticon-up-arrow fs-12 lh-1 position-relative top-1"></i></span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-xxxl-4 col-sm-6">
                    <div class="card mb-25 border-0 rounded-0 bg-white stats-box">
                        <div class="card-body pe-20 ps-20 pe-md-25 ps-md-25 pe-lg-15 ps-lg-15">
                            <div class="d-flex align-items-center">
                                <div class="icon position-relative rounded-circle text-center text-success"><i
                                    class="flaticon-sugar-cubes"></i></div>
                                <div class="title ms-15"><span
                                    class="d-block mb-7 fs-13 text-uppercase fw-medium text-dark-emphasis">PRODUKTAI</span>
                                    <h4 class="fw-black mb-8 lh-1">{{  this.products }}</h4>
<!--                                    <span-->
<!--                                        class="fw-medium text-dark-emphasis">$10,320</span><span-->
<!--                                        class="fw-bold text-success ms-11 text-success">11.5% <i-->
<!--                                        class="flaticon-up-arrow fs-12 lh-1 position-relative top-1"></i></span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4 col-xxxl-4 col-sm-6">
                    <div class="card mb-25 border-0 rounded-0 bg-white stats-box">
                        <div class="card-body pe-20 ps-20 pe-md-25 ps-md-25 pe-lg-15 ps-lg-15">
                            <div class="d-flex align-items-center">
                                <div class="icon position-relative rounded-circle text-center text-primary"><i
                                    class="flaticon-user-3"></i></div>
                                <div class="title ms-15"><span
                                    class="d-block mb-7 fs-13 text-uppercase fw-medium text-dark-emphasis">VARTOTOJAI</span>
                                    <h4 class="fw-black mb-8 lh-1">{{  this.customers }}</h4>
<!--                                    <span-->
<!--                                        class="fw-medium text-dark-emphasis">$450</span><span-->
<!--                                        class="fw-bold text-success ms-11 text-danger">1.5% <i-->
<!--                                        class="flaticon-down-arrow fs-12 lh-1 position-relative top-1"></i></span>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-xl-6 col-lg-4 col-xxxl-4 col-sm-6">-->
<!--                    <div class="card mb-25 border-0 rounded-0 bg-white stats-box">-->
<!--                        <div class="card-body pe-20 ps-20 pe-md-25 ps-md-25 pe-lg-15 ps-lg-15">-->
<!--                            <div class="d-flex align-items-center">-->
<!--                                <div class="icon position-relative rounded-circle text-center text-success"><i-->
<!--                                    class="flaticon-compare"></i></div>-->
<!--                                <div class="title ms-15"><span-->
<!--                                    class="d-block mb-7 fs-13 text-uppercase fw-medium text-dark-emphasis">PROCESSING</span>-->
<!--                                    <h4 class="fw-black mb-8 lh-1">84</h4><span-->
<!--                                        class="fw-medium text-dark-emphasis">64</span><span-->
<!--                                        class="fw-bold text-success ms-11 text-success">2.5% <i-->
<!--                                        class="flaticon-up-arrow fs-12 lh-1 position-relative top-1"></i></span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>


        </div>
    </Main>
</template>


<script>
import Main from "../layouts/Main.vue";
import BreadCrumb from "../components/Common/BreadCrumb.vue";
import Form from "./Users/form.vue";
import productDataProvider from "../services/DataProvider/productDataProvider.js";
import {defineComponent} from "vue";
import orderDataProvider from "../services/DataProvider/orderDataProvider.js";
import customerDataProvider from "../services/DataProvider/customerDataProvider.js";

export default defineComponent({
    name: "Darbastalis",
    components: {Form, BreadCrumb, Main},
    data() {
        return {
            products: 0,
            orders: 0,
            customers: 0,
        }
    },
    methods: {
        fetchProducts() {
            productDataProvider.index(1000, 1, '').then(response => {
                this.products = response.data.length;
            })
        },
        fetchOrders() {
            orderDataProvider.index(1000, 1, '').then(response => {
                this.orders = response.data.map((x) => x.total * 1).reduce((partialSum, a) => partialSum + a, 0);
            })
        },
        fetchCustomers() {
            customerDataProvider.index(1000, 1, '').then(response => {
                this.customers = response.data.length;
            })
        },
    },
    beforeMount() {
        this.fetchProducts()
        this.fetchOrders()
        this.fetchCustomers()
    }
});
</script>
