<template>
    <Main>
        <BreadCrumb PageTitle="Sukurti vartotoją"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <div class="modal-body ps-0 pe-0 pb-0 pt-15 pt-md-25">
                    <Form @formSubmitted="onFormSubmitted" :errors="this.errors"/>
                </div>
            </div>
        </div>
    </Main>
</template>

<script>
import userDataProvider from '../../services/DataProvider/userDataProvider.js';
import Form from "./form.vue";
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {ROUTE_USERS_LIST} from "../../const/routes.js";

export default {
    name: "Sukurti vartotoją",
    components: {Main, BreadCrumb, Form},
    data() {
        return {
            errors: []
        }
    },
    methods: {
        async onFormSubmitted(formData) {
            const response = await userDataProvider.store(formData);
            if (response.errors) {
                this.errors = response.errors;
            } else {
                this.$router.push({name: ROUTE_USERS_LIST});
                this.$emit('reload');
                this.errors = [];
                this.$swal('Sėkmingai sukurta');
            }
        }
    }
};
</script>
