<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Vardas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`name`])}]"
                        v-model="form.name"
                    />
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        El. paštas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`email`])}]"
                        v-model="form.email"
                    />
                    <div class="invalid-feedback" v-if="errors.email">
                        {{ errors.email }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Slaptažodis
                    </label>
                    <input
                        type="password"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`password`])}]"
                        v-model="form.password"
                    />
                    <div class="invalid-feedback" v-if="errors.password">
                        {{ errors.password }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Slaptažodio patvirtinimas
                    </label>
                    <input
                        type="password"
                        :class="[`form-control shadow-none text-black`]"
                        v-model="form.password_confirmation"
                    />
                </div>
            </div>
        </div>

        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import categoryDataProvider from "../../services/DataProvider/categoryDataProvider.js";
import languageDataProvider from "../../services/DataProvider/languageDataProvider.js";

export default {
    components: {VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'user'],
    computed: {
        form() {
            let form = {
                name: null,
                email: null
            };
            if(this.user) {
                form.id = this.user.id;
                form.name = this.user.name;
                form.email = this.user.email;
            }
            return form;
        }
    },
    methods: {
        async submitForm() {
            this.$emit('formSubmitted', this.form);
        }
    }
}
</script>
