<template>
    <Main>
        <BreadCrumb PageTitle="Vartotojai"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <router-link
                    v-if="$can(CREATE_USER)"
                    :to="{name: ROUTE_USERS_CREATE}"
                    class="default-btn position-relative transition border-0 fw-medium text-white pt-11 pb-11 ps-25 pe-25 pt-md-12 pb-md-12 ps-md-30 pe-md-30 rounded-1 bg-success fs-md-15 fs-lg-16 d-inline-block me-10 mb-10 mb-lg-0 text-decoration-none"
                >
                    Sukurti vartotoją
                    <i class="flaticon-plus position-relative ms-5 fs-12"></i>
                </router-link>
            </div>

            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-4 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Vardas
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        El. paštas
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="user in users" :key="user.id">
                    <div class="col-4 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ user.name }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium">
                        {{ user.email }}
                    </div>
                    <div
                        class="col-6 td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                        v-if="user.id == 1"
                    >
                        <router-link
                            v-if="loggedUser().id == 1"
                            :to="{name: ROUTE_USERS_EDIT, params: {id: user.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="loggedUser().id == 1"
                           @click="deleteUser(user.id)"><i class="flaticon-delete"/></a>
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                        v-else
                    >
                        <router-link
                            v-if="$can(EDIT_USER)"
                            :to="{name: ROUTE_USERS_EDIT, params: {id: user.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_USER)"
                           @click="deleteUser(user.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import userDataProvider from "../../services/DataProvider/userDataProvider.js";
import {ROUTE_USERS_CREATE, ROUTE_USERS_EDIT} from "../../const/routes.js";
import {CREATE_USER, EDIT_USER, DELETE_USER} from "../../const/permissions.js";
import {USER_KEY} from "../../services/DataProvider/authDataProvider.js";

export default defineComponent({
    name: "Vartotojai",
    components: {
        BreadCrumb, Main
    },
    data() {
        return {
            users: [],

            CREATE_USER: CREATE_USER,
            EDIT_USER: EDIT_USER,
            DELETE_USER: DELETE_USER,
            ROUTE_USERS_CREATE: ROUTE_USERS_CREATE,
            ROUTE_USERS_EDIT: ROUTE_USERS_EDIT
        }
    },
    methods: {
        loggedUser() {
            return JSON.parse(localStorage.getItem(USER_KEY));
        },
        fetchUsers() {
            userDataProvider.index().then(response => {
                this.users = response.users;
            })
        },
        async deleteUser(id) {
            this.$swal({
                title: "Ištrinti vartotoją",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    userDataProvider.delete(id);
                    this.fetchUsers();
                }
            });
        }
    },
    beforeMount() {
        this.fetchUsers()
    }
});
</script>
