<template>
  <header
    :class="[
      'header-area bg-white text-center text-md-start pt-15 pb-15 ps-15 pe-15 ps-md-20 pe-md-20 pe-lg-30 transition mb-25 position-fixed',
      { sticky: isSticky },
    ]"
    id="header"
  >
    <div class="row align-items-center">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <div
          class="header-left-side justify-content-center justify-content-md-start d-flex align-items-center"
        >
          <button
            class="header-burger-menu transition position-relative lh-1 bg-transparent p-0 border-0"
            id="header-burger-menu"
            @click="stateStoreInstance.onChange"
          >
            <i class="flaticon-menu-3"></i>
          </button>
        </div>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6">
        <div
          class="header-right-side d-flex align-items-center justify-content-center justify-content-md-end"
        >
          <div class="dropdown profile-dropdown">
            <button
              class="dropdown-toggle text-start fs-16 text-black-emphasis d-flex align-items-center p-0 position-relative bg-transparent border-0 transition lh-1"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
                <i class="flaticon-user-3"></i>
              <span class="title d-none d-lg-block ms-10 ms-lg-15">
                <span class="d-block fw-bold">{{ user().name }}</span>
              </span>
            </button>
            <div
              class="dropdown-menu rounded-0 bg-white border-0 start-auto end-0"
            >
              <ul class="ps-0 mb-0 list-unstyled dropdown-body">
<!--                <li-->
<!--                  class="text-body-secondary fw-semibold transition position-relative"-->
<!--                >-->
<!--                  <i class="flaticon-user-2"></i>-->
<!--                  My Account-->
<!--                  <router-link-->
<!--                    to="/profile"-->
<!--                    class="d-block position-absolute start-0 top-0 end-0 bottom-0 text-decoration-none"-->
<!--                  ></router-link>-->
<!--                </li>-->
                  <li
                      class="text-body-secondary fw-semibold transition position-relative cursor-pointer"
                      @click="logout()"
                  >
                      <i class="flaticon-logout"></i>
                      Atsijungti
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import stateStore from "../../utils/store";
import {USER_KEY} from "../../services/DataProvider/authDataProvider.js";
import authDataProvider from "../../services/DataProvider/authDataProvider.js";

export default defineComponent({
  name: "MainHeader",
  setup() {
    const stateStoreInstance = stateStore;
    const isSticky = ref(false);

    onMounted(() => {
      window.addEventListener("scroll", () => {
        let scrollPos = window.scrollY;
        isSticky.value = scrollPos >= 100;
      });
    });

    return {
      isSticky,
      stateStoreInstance,
    };
  },
    methods: {
        user() {
            return JSON.parse(localStorage.getItem(USER_KEY));
        },
        logout() {
            authDataProvider.logout();
        }
    }
});
</script>
