<template>
    <div
        :class="[
      'sidebar-area position-fixed start-0 top-0 bg-black h-100vh transition',
      { active: stateStoreInstance.open },
    ]"
        id="sidebar-area"
    >
        <div class="logo position-absolute start-0 end-0 top-0 bg-black">
            <router-link
                :to="{name: ROUTE_DASHBOARD}"
                class="d-flex align-items-center text-white text-decoration-none"
            >
                <span class="fw-bold ms-10">Admin</span>
            </router-link>
            <div class="border-bottom"></div>
            <button
                class="sidebar-burger-menu position-absolute lh-1 bg-transparent p-0 border-0"
                @click="stateStoreInstance.onChange"
            >
                <i class="ph-duotone ph-caret-double-right"></i>
            </button>
        </div>
        <div class="sidebar-menu">
            <ul
                class="sidebar-navbar-nav ps-0 mb-0 list-unstyled accordion"
                id="sidebarNavAccordion"
            >
                <li class="sidebar-nav-item">
                    <router-link :to="{name: ROUTE_DASHBOARD}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-date-1"></i>
                        <span class="title">Darbastalis</span>
                    </router-link>
                </li>


                <li class="sub-title sidebar-nav-item">
                    <span class="d-block text-uppercase fw-medium">Admin</span>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_CATEGORIES)">
                    <router-link :to="{name: ROUTE_CATEGORIES_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-layer-2"></i>
                        <span class="title">Kategorijos</span>
                    </router-link>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_PRODUCTS)">
                    <router-link :to="{name: ROUTE_PRODUCTS_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-sugar-cubes"></i>
                        <span class="title">Produktai</span>
                    </router-link>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_ORDERS)">
                    <router-link :to="{name: ROUTE_ORDERS_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-trolley-cart"></i>
                        <span class="title">Užsakymai</span>
                    </router-link>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_CUSTOMERS)">
                    <router-link :to="{name: ROUTE_CUSTOMERS_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-user-3"></i>
                        <span class="title">Klientai</span>
                    </router-link>
                </li>


                <li class="sidebar-nav-item" v-if="$can(LIST_SETTINGS)">
                    <router-link :to="{name: ROUTE_SETTINGS_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-setting"></i>
                        <span class="title">Nustatymai</span>
                    </router-link>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_USERS)">
                    <router-link :to="{name: ROUTE_USERS_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-shield-1"></i>
                        <span class="title">Varotojai</span>
                    </router-link>
                </li>
                <li class="sidebar-nav-item" v-if="$can(LIST_ROLES)">
                    <router-link :to="{name: ROUTE_ROLES_LIST}"  class="sidebar-nav-link d-block">
                        <i class="flaticon-ban"></i>
                        <span class="title">Varotojų grupės</span>
                    </router-link>
                </li>

                <li class="sub-title sidebar-nav-item">
                    <span class="d-block text-uppercase fw-medium"></span>
                </li>

                <li class="sidebar-nav-item">
                    <a href="#" class="sidebar-nav-link d-block" @click="logout()">
                        <i class="flaticon-logout"></i>
                        Atsijungti
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import stateStore from "../../utils/store";
import {
    ROUTE_DASHBOARD, ROUTE_USERS_LIST, ROUTE_ROLES_LIST,
    ROUTE_CATEGORIES_LIST, ROUTE_PRODUCTS_LIST, ROUTE_SETTINGS_LIST, ROUTE_ORDERS_LIST, ROUTE_CUSTOMERS_LIST
} from "../../const/routes.js";
import authDataProvider from '../../services/DataProvider/authDataProvider.js';
import {
    LIST_USERS, LIST_ROLES,
    LIST_CATEGORIES, LIST_PRODUCTS, LIST_SETTINGS, LIST_ORDERS, LIST_CUSTOMERS
} from "../../const/permissions.js"

export default defineComponent({
    name: "MainSidebar",
    setup() {
        const stateStoreInstance = stateStore;
        return {
            stateStoreInstance,
        };
    },

    data() {
        return {
            LIST_PRODUCTS: LIST_PRODUCTS,
            LIST_CATEGORIES: LIST_CATEGORIES,
            LIST_ROLES: LIST_ROLES,
            LIST_USERS: LIST_USERS,
            LIST_SETTINGS: LIST_SETTINGS,
            LIST_ORDERS: LIST_ORDERS,
            LIST_CUSTOMERS: LIST_CUSTOMERS,

            ROUTE_DASHBOARD: ROUTE_DASHBOARD,
            ROUTE_CATEGORIES_LIST: ROUTE_CATEGORIES_LIST,
            ROUTE_ROLES_LIST: ROUTE_ROLES_LIST,
            ROUTE_USERS_LIST: ROUTE_USERS_LIST,
            ROUTE_PRODUCTS_LIST: ROUTE_PRODUCTS_LIST,
            ROUTE_SETTINGS_LIST: ROUTE_SETTINGS_LIST,
            ROUTE_ORDERS_LIST: ROUTE_ORDERS_LIST,
            ROUTE_CUSTOMERS_LIST: ROUTE_CUSTOMERS_LIST
        }
    },
    methods: {
        logout() {
            authDataProvider.logout();
        }
    }
});
</script>
