<template>
    <Main>
        <BreadCrumb PageTitle="Redaguoti vartotojų grupę"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <div class="modal-body ps-0 pe-0 pb-0 pt-15 pt-md-25">
                    <Form @formSubmitted="onFormSubmitted" :errors="this.errors" :role="this.role"/>
                </div>
            </div>
        </div>
    </Main>
</template>

<script>
import roleDataProvider from "../../services/DataProvider/roleDataProvider.js";
import Form from "./form.vue";
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {ROUTE_ROLES_LIST} from "../../const/routes.js";

export default {
    name: "Redaguoti vartotojų grupę",
    components: {Main, BreadCrumb, Form},
    data() {
        return {
            errors: [],
            role: [],
        }
    },
    methods: {
        async onFormSubmitted(formData) {
            const response = await roleDataProvider.patch(formData.id, formData);
            if (response.errors) {
                this.errors = response.errors;
            } else {
                this.$router.push({name: ROUTE_ROLES_LIST});
                this.$swal('Sėkmingai atnaujinta');
            }
        },
        async fetchRole() {
            roleDataProvider.find(this.$route.params.id).then(response => {
                this.role = response.data;
            });
        },
    },
    beforeMount() {
        this.fetchRole();
    }
};
</script>
