<template>
    <form @submit.prevent="submitForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Pavadinimas
                    </label>
                    <input
                        type="text"
                        :class="[`form-control shadow-none text-black`, {'is-invalid': (errors[`name`])}]"
                        v-model="form.name"
                    />
                    <div class="invalid-feedback" v-if="errors.name">
                        {{ errors.name }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group mb-15 mb-md-25">
                    <label class="d-block text-black fw-semibold mb-10">
                        Leidimai
                    </label>
                    <div class="form-check" v-for="permission in permissions()" :key="permission">
                        <input   :class="[`form-check-input shadow-none text-black`, {'is-invalid': (errors[`permissions`])}]"
                                 type="checkbox" v-model="checkedPermissions" :value="permission" :id="`permission_${permission}`">
                        <label class="form-check-label fw-medium position-relative top-1" :for="`permission_${permission}`">
                            {{ permission }}
                        </label>
                    </div>
                    <div class="invalid-feedback" v-if="errors.permissions">
                        {{ errors.permissions }}
                    </div>
                </div>
            </div>
        </div>

        <button
            class="default-btn transition border-0 fw-medium text-white pt-10 pb-10 ps-25 pe-25 pt-md-11 pb-md-11 ps-md-35 pe-md-35 rounded-1 fs-md-15 fs-lg-16"
            type="submit"
        >
            Išsaugoti
        </button>
    </form>
</template>
<script>
import "vue3-select-component/dist/style.css";
import VueSelect from "vue3-select-component";
import {LIST} from "../../const/permissions.js"

export default {
    components: {VueSelect},
    emits: ['formSubmitted'],
    props: ['errors', 'role'],
    data() {
        return {
            checkedPermissions: []
        }
    },
    computed: {
        form() {
            let form = {
                name: null,
                permissions: []
            };
            if(this.role) {
                form.id = this.role.id;
                form.name = this.role.name;
                this.checkedPermissions = this.role.permissions.map(permission => permission.key);
            }
            return form;
        }
    },
    methods: {
        async submitForm() {
            this.form.permissions = this.checkedPermissions;
            this.$emit('formSubmitted', this.form);
        },
        permissions() {
            return LIST;
        }
    }
}
</script>
