<template>
    <Main>
        <BreadCrumb PageTitle="Vartotojų grupės"/>
        <div class="card mb-25 border-0 rounded-0 bg-white letter-spacing">
            <div
                class="card-head box-shadow bg-white d-lg-flex align-items-center justify-content-between p-15 p-sm-20 p-md-25"
            >
                <router-link
                    v-if="$can(CREATE_ROLE)"
                    :to="{name: ROUTE_ROLES_CREATE}"
                    class="default-btn position-relative transition border-0 fw-medium text-white pt-11 pb-11 ps-25 pe-25 pt-md-12 pb-md-12 ps-md-30 pe-md-30 rounded-1 bg-success fs-md-15 fs-lg-16 d-inline-block me-10 mb-10 mb-lg-0 text-decoration-none"
                >
                    Sukurti vartotojų grupę
                    <i class="flaticon-plus position-relative ms-5 fs-12"></i>
                </router-link>
            </div>

            <div class="card-body p-15 p-sm-20 p-md-25">
                <div class="row">
                    <div class="col-4 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Pavadinimas
                    </div>
                    <div class="col-2 text-uppercase fw-medium shadow-none text-body-tertiary pb-2">
                        Leidimai
                    </div>
                    <div class="col-auto ms-auto  text-uppercase fw-medium shadow-none text-body-tertiary pb-2"></div>
                </div>
                <div class="row tr" v-for="role in roles" :key="role.id">
                    <div class="col-4 td shadow-none lh-1 fw-medium text-black-emphasis title">
                        {{ role.name }}
                    </div>
                    <div class="col-2 td shadow-none lh-1 fw-medium">
                        {{ permissions(role.permissions) }}
                    </div>
                    <div
                        class="col-auto ms-auto  td shadow-none lh-1 fw-medium text-body-tertiary text-end"
                    >
                        <router-link
                            v-if="$can(EDIT_ROLE)"
                            :to="{name: ROUTE_ROLES_EDIT, params: {id: role.id}}"
                            class="btn btn-primary btn-sm me-2"
                        >
                            <i class="flaticon-edit"/>
                        </router-link>
                        <a class="btn btn-danger btn-sm me-2"
                           v-if="$can(DELETE_ROLE)"
                           @click="deleteRole(role.id)"><i class="flaticon-delete"/></a>
                    </div>
                </div>
            </div>
        </div>
    </Main>
</template>

<script lang="ts">
import BreadCrumb from "../../components/Common/BreadCrumb.vue";
import Main from "../../layouts/Main.vue";
import {defineComponent} from "vue";
import roleDataProvider from "../../services/DataProvider/roleDataProvider.js";
import {ROUTE_ROLES_CREATE, ROUTE_ROLES_EDIT} from "../../const/routes.js";
import {CREATE_ROLE, EDIT_ROLE, DELETE_ROLE, EDIT_CATEGORY, DELETE_CATEGORY} from "../../const/permissions";

export default defineComponent({
    name: "Vartotojų grupės",
    components: {
        BreadCrumb, Main
    },
    data() {
        return {
            roles: [],

            CREATE_ROLE: CREATE_ROLE,
            EDIT_ROLE: EDIT_ROLE,
            DELETE_ROLE: DELETE_ROLE,
            ROUTE_ROLES_CREATE: ROUTE_ROLES_CREATE,
            ROUTE_ROLES_EDIT: ROUTE_ROLES_EDIT
        }
    },
    methods: {
        fetchRoles() {
            roleDataProvider.index().then(response => {
                this.roles = response.roles;
            })
        },
        async deleteRole(id) {
            this.$swal({
                title: "Ištrinti vartotojų grupę",
                text: "Ar tikrai norite ištrinti?",
                icon: "question",
                showDenyButton: true,
                confirmButtonText: "Taip",
                denyButtonText: "Ne",
            }).then((result) => {
                if (result.isConfirmed) {
                    roleDataProvider.delete(id);
                    this.fetchRoles();
                }
            });
        },
        permissions(permissions) {
            return permissions.map(permission => permission.key).join(', ')
        },
    },
    beforeMount() {
        this.fetchRoles()
    }
});
</script>
